.main1{
   
    background-image: url('/Images/main1shape.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
   
    
}
.main2{
   
    background-image: url('/Images/smallermain2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Adjust this value as needed */
    min-height: 770px !important;
   
}
.main3{
   
    background-image: url('/Images/main3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
   
}

.mob1{
    background-image: url('/Images/mob1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.mob2{
    background-image: url('/Images/mob2.png');
    background-repeat: no-repeat;
    background-size: cover;
   
}

@media screen and (max-height: 1000px) {
    /* .responsive-height{
        height: 110vh !important;
    } */
    .responsive-width-btn{
        width: 206px;
    }
    /* .responsive-main-height{
        height: 95vh !important;
        margin-bottom: 2rem;
    } */
}



.coinpfp{
    width: 37px !important;
    height: 37px !important;
}

@media screen and (max-width:720px) {
    .coinbox{
        width: 184px;
    }
}

@media screen and (min-width:1080px) {
    .coinbox{
        width: 180px;
    }
    .coinbox p{
        white-space: nowrap;
    }
}