.main1 {

    background-image: url('/Images/main1shape.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;


}

.main2 {

    background-image: url('/Images/smallermain2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* Adjust this value as needed */
    min-height: 770px !important;

}

.main3 {

    background-image: url('/Images/main3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

}

.mob1 {
    background-image: url('/Images/mob1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.mob2 {
    background-image: url('/Images/newmob2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* Adjust this value as needed */

}

.mob2new {
    background-image: url('/Images/newmob2.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* Adjust this value as needed */

}
@media screen and (max-height: 1000px) {

    /* .responsive-height{
        height: 110vh !important;
    } */
    .responsive-width-btn {
        width: 206px;
    }

    /* .responsive-main-height{
        height: 95vh !important;
        margin-bottom: 2rem;
    } */
}



.coinpfp {
    width: 37px !important;
    height: 37px !important;
}

@media screen and (max-width:720px) {
    .coinbox {
        width: 184px;
    }
}

@media screen and (min-width:1080px) and (max-width:1300px) {
    .coinbox {
        width: 140px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        gap: 10px;
    }
    .roadmap-responsive-title{
        font-size: 14px;
    }
    .roadmap-responsive-para{
        font-size: 10px;
    }

    .coinbox p {
        white-space: nowrap;
    }

    .responsive-coinbox-text {
        font-size: 0.8rem;
    }

    .coinpfp {
        width: 25px !important;
        height: 25px !important;
    }
    .responsive-stage-logos{
        height: 60px;
        width: 60px;
    }
    .responsive-copy-box{
        width: 80%;
    }
}

@media screen and (min-width:1301px) and (max-width:1500px) {
    .coinbox {
        width: 150px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .coinbox p {
        white-space: nowrap;
    }
}

@media screen and (min-width:1500px) {
    .coinbox {
        width: 180px;
    }

    .coinbox p {
        white-space: nowrap;
    }
}

.checkbox-container {
    display: inline-block;
    vertical-align: middle;
}

.checkbox-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    background-color: #001129 !important;
    border: 2px solid #476FFF !important;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.checkbox-input:checked {
    background-color: #001129 !important;
    border-color: #476FFF !important;
}

.checkbox-input:checked::before {
    content: '✔';
    display: block;
    width: 16px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #476FFF !important;
}